<h2>All Users</h2>

<div class="row-fluid">
  <table id="users-table">
    <tr>
      <th>Username</th>
      <th><% if admin? %>Email<% end %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email if admin? %></td>
      <td><%= link_to 'Show', user %></td>

      <td><%= link_to 'Edit', edit_user_path(user) if admin?%></td>
      <td><%= link_to 'Delete Forever', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, :Class => "delete_user" if admin? %></td>
    </tr>
  <% end %>
  </table>
</div>

<%= link_to 'Create User Account', new_user_registration_path if admin? %>