<article>

	<div class="well">
			<%= image_tag post.user.avatar.url(:thumb), :class => "riff_user_pic" %>
			<div class="riff-detail">
				<span class="post-user">
					<% if post.user.nil? %>
						<strong>Unknown user</strong>
					<% else %>
						<%= link_to post.user.username, post.user %>
					<% end %>
					:
				</span>
				<span class="post-timestamp">
					<em>
						<%= link_to post.created_at.strftime("%m/%d/%Y - %I:%M %p"), post %>
					</em>
				</span>
				<div class="post_content">
					<%= auto_link post.content %>
				</div>
			</div>
		<div class="post-actions">
			<ul class="nav nav-pills">
				<% if user_signed_in? %>
					<% unless post.user.nil? or post.user.id == current_user.id %>
						<li>
								<a href="#" class="reply_link" 
									data-reply-to="<%= post.user.username %>"
									data-reply-post="<%= post.id %>">
									Reply
								</a>
						</li>
					<% end %>
						<li>
							<td><%= link_to 'Edit', edit_post_path(post) if admin? or post.user.id == current_user.id %></td>
						</li>
						<li>
							 <td><%= link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => "delete_post" if admin? or post.user.id == current_user.id %></td>
						</li>
				<% end %>
			</ul>
		</div>
	</div>
</article>