<div class="well">
	<% if user_signed_in? %>
		<em>
			Welcome <%= current_user.username %>
		</em>

		<div class="row-fluid user-stats">
			<%= image_tag current_user.avatar.url(:medium), :class => "user_profile_pic" %>
			<%= link_to pluralize(current_user.idols.count, "idol"), idols_path %> <br />
			<%= link_to pluralize(current_user.groupies.count, "groupie"), groupies_path %> <br />
			<%= link_to pluralize(current_user.posts.count, "riff"), posts_my_path %>
		</div>	

		<div class="row-fluid">
			<%= render :partial => 'new', :locals => { :f => @post} %>
		</div>
	<% else %>
			<p>Metallr is a social network for use by metalheads.</p>

			<p>It is a micro-blogging platform, which allows slightly longer messages than some may be used to (255 characters max), and allows flexible browsing of 'riffs' made by other users.</p>

			<%= link_to "Create a free account now", new_user_registration_path %> or 
			<%= link_to "Log In", new_user_session_path %>
	<% end %>
</div>