<%= form_for(@post, :remote => true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content, "New Riff" %>
    <%= f.text_area :content, :class => "span12", :rows => "8" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Riff", :class => "btn btn-primary" %>
    <span class="riff-length">255</span> Characters
  </div>
<% end %>
